<link href="../../Content/home.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-sm-6 full-width">
            <div class="search-box-container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search Courses" ng-model="vm.requestModel.keyword" 
                           ng-keyup="$event.keyCode == 13 ? vm.searchCourses() : null"/>
                    <span class="input-group-addon">
                        <button type="button" ng-click="vm.searchCourses()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
         </div>
        
        <div class="col-sm-6 full-width" access-control>
            <div class="courses-container">
                <h3 ng-show="vm.canShow('label-header')">CodeCoopers Courses</h3><br />
                <div class="courses-grid">
                    <div class="list-group courses-list">
                        <div class="course col-xs-4 col-lg-4" ng-repeat="course in vm.courses">
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading">
                                    {{course.title}}
                                </h4>
                                <p class="group inner list-group-item-text">
                                    {{course.courseSummary}}
                                </p>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">
                                            <b>{{course.price}}BDT</b>
                                        </p>
                                        <a class="btn btn-link" ui-sref="root.course-detail({id: course.id})" >View Details</a>
                                    </div>
                                    <div class="col-xs-12 col-md-6" >
                                        <a class="btn btn-success" href="#">Add to cart</a>
                                    </div>                                     
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default btn-circle btn-lg btn-previous" ng-show="vm.requestModel.page > 1"  ng-click="vm.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-circle btn-lg btn-next" ng-show="vm.courses.length > 0 && vm.requestModel.page >= 1" ng-click="vm.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>                
            </div>
        </div>

    </div>
</div>