<input  type="text" ng-model="vm.searchRequest.name" placeholder="name keyword"/>
<input type="text" ng-model="vm.searchRequest.phone" placeholder="phone keyword"/>
<button ng-click="vm.search()">Search</button>
<table>
    <thead>
        <tr>
            <td ng-click="vm.sort('name')">Name</td>
            <td ng-click="vm.sort('phone')">Phone</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="s in vm.students">
            <td>{{s.name}}</td>
            <td>{{s.phone}}</td>
        </tr>
    </tbody>
</table>
<button ng-show="vm.searchRequest.page>1" ng-click="vm.previous()">< Previous</button>
<label>Current Page : {{vm.searchRequest.page}}</label>
<button ng-click="vm.next()">Next ></button>
