<style>
    a[ng-click] {
        cursor: pointer;
    }
</style>
<section class="content content-course-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <ol class="breadcrumb pln mtl">
                            <li>
                                <a href="#">Courses</a>
                            </li>
                            <li class="bold">{{vm.courseTitle}}</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled mvl menu-secondary-course-details">
                            <li ng-repeat="content in vm.models" ng-class="{active : vm.activeContent.title === content.title}">
                                <a ng-click="vm.setActiveContent(content)">{{content.title}}</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div ng-show="vm.activeContent.title != ''" class="col-md-9">
                        <p class="course-sprint-title">{{vm.activeContent.title}}</p>
                        <iframe ng-show="vm.activeContent.title != ''" width="560" height="315" src="{{vm.activeContent.url}}" frameborder="1" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="l-block pvm phs" href="#"></a>
</section>