<style type="text/css">
    .col-lg-2 {
        width: 25.666667%;
    }
</style>

<section class="content content-course-details">
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 col-md-8 col-sm-8">
                <h3>Create a new Course</h3><br />
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Title:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="title" name="title" ng-model="vm.model.title" required/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Sub Title:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="subTitle" name="subTitle" ng-model="vm.model.subTitle" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Course Tags:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="tags" name="tags" ng-model="vm.model.tags" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Price:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="number" class="form-control" id="price" name="price" ng-model="vm.model.price" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Instructor:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <select class="form-control" 
                      ng-options="item.id as item.name for item in vm.teachers track by item.id" ng-model="vm.model.teacherId"></select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Publish Date:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="publishDate" name="publishDate" datetime="yyyy-MM-dd HH:mm:ss" ng-model="vm.model.publishDate" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Total Lectures Count:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="number" class="form-control" id="totalLecturesCount" name="totalLecturesCount" ng-model="vm.model.totalLecturesCount" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Course Summary:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <textarea class="form-control" rows="5" id="courseSummary" name="courseSummary"  ng-model="vm.model.courseSummary"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Course Short Description:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <textarea class="form-control" rows="5" id="courseShortDescription" name="courseShortDescription" ng-model="vm.model.courseShortDescription"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Language:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input type="radio" ng-model="vm.model.language" value="Bangla">Bangla
                            <input type="radio" ng-model="vm.model.language" value="English">English
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Achieve:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <textarea class="form-control" rows="5" id="achieve" name="achieve" ng-model="vm.model.achieve"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Requirements:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <textarea class="form-control" rows="5" id="requirements" name="requirements" ng-model="vm.model.requirements"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-md-2 col-sm-2 form-control-label">Full Description:</label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <textarea class="form-control" rows="10" id="fullDescription" name="fullDescription" ng-model="vm.model.fullDescription"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                        <div class="col-lg-1 col-md-1 col-sm-1 text-left">
                            <button type="button" class="btn btn-primary" 
                                    ng-click="vm.save()">Save</button>
                        </div>

                        <div class="col-lg-7 col-md-7 col-sm-7"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>