<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'modernwebclient' in resource group 'virtualtrainees' -->
  <InstrumentationKey>41923e0d-8896-486a-a48f-c95cf0ba42c5</InstrumentationKey>
</ApplicationInsights>