<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.UI-Router" version="0.4.2" targetFramework="net462" />
  <package id="AngularJS.Core" version="1.6.5" targetFramework="net462" />
  <package id="AngularJS.Resource" version="1.6.5" targetFramework="net462" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="6.5.6" targetFramework="net462" />
  <package id="angular-local-storage" version="0.7.0" targetFramework="net462" />
  <package id="angular-ui.TypeScript.DefinitelyTyped" version="2.4.3" targetFramework="net462" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net462" />
</packages>