/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+c+cpp+aspnet&plugins=line-highlight+line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    -moz-hyphens: none;
    -moz-tab-size: 4;
    -ms-hyphens: none;
    -o-tab-size: 4;
    -webkit-hyphens: none;
    color: black;
    direction: ltr;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    hyphens: none;

    line-height: 1.5;
    tab-size: 4;
    text-align: left;

    text-shadow: 0 1px white;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] { text-shadow: none; }
}

/* Code blocks */

pre[class*="language-"] {
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] { background: #f5f2f0; }

/* Inline code */

:not(pre) > code[class*="language-"] {
    border-radius: .3em;
    padding: .1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata { color: slategray; }

.token.punctuation { color: #999; }

.namespace { opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted { color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted { color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    background: hsla(0, 0%, 100%, .5);
    color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword { color: #07a; }

.token.function { color: #DD4A68; }

.token.regex,
.token.important,
.token.variable { color: #e90; }

.token.important,
.token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative;
}

.line-highlight {
    background: hsla(24, 20%, 50%, .08);
    background: -moz-linear-gradient(left, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));
    background: -webkit-linear-gradient(left, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));
    background: -o-linear-gradient(left, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));
    background: linear-gradient(left, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));

    left: 0;
    line-height: inherit;
    margin-top: 1em; /* Same as .prism’s padding-top */
    padding: inherit 0;
    pointer-events: none;
	
    position: absolute;
	
    right: 0;
    white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
    background-color: hsla(24, 20%, 50%, .4);
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: hsl(24, 20%, 95%);
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: .4em;
    vertical-align: .3em;
}

.line-highlight[data-end]:after {
    bottom: .4em;
    content: attr(data-end);
    top: auto;
}

pre.line-numbers {
    counter-reset: linenumber;
    padding-left: 3.8em;
    position: relative;
}

pre.line-numbers > code { position: relative; }

.line-numbers .line-numbers-rows {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border-right: 1px solid #999;
    font-size: 100%;
    left: -3.8em;
    letter-spacing: -1px;
    pointer-events: none;

    position: absolute;
    top: 0;
    user-select: none;
    width: 3em; /* works for line-numbers below 1000 lines */
}

.line-numbers-rows > span {
    counter-increment: linenumber;
    display: block;
    pointer-events: none;
}

.line-numbers-rows > span:before {
    color: #999;
    content: counter(linenumber);
    display: block;
    padding-right: 0.8em;
    text-align: right;
}